doctype html 
html 
    head 
        title Curso Node 
        header 
            h1 Bienvenido al curso de Node 
        main 
            block contenido
        footer 
            powered by Brian Valdivieso